body {
	margin: 20px;
	font-family: "Times New Roman", Times, serif;
}

img {
	--b: 5px; /* Border thickness*/
	--c: #0000 25%, #1b263b 0; /*Border color*/
	padding: 10px;
	background: conic-gradient(
				from 90deg at top var(--b) left var(--b),
				var(--c)
			)
			0 0,
		conic-gradient(from 180deg at top var(--b) right var(--b), var(--c))
			100% 0,
		conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0
			100%,
		conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c))
			100% 100%;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	transition: 0.6s;
	cursor: pointer;
}

img:hover {
	background-size: 51% 51%;
}

.avatar {
	width: 150px;
}

.card {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	background: #778da9;
	color: #e0e1dd;
	border-bottom: 8px solid #1b263b;
	border-radius: 8px;
}

.border-blue {
	border: 1px dotted blue;
}

.hover {
	--c: linear-gradient(#415a77 0 0);
	padding-bottom: 0.15em;
	background: var(--c), var(--c);
	background-size: 0.5em 0.2em;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	transition: 0.3s linear, background-size 0.3s 0.2s linear;
}
.hover:hover {
	background-size: 40% 0.1em;
	background-position: 10% 100%, 90% 100%;
}
